@use 'setting' as *;

.manga {
    max-width: 1200px;
    width: 70%;
    height: 100%;
    background-color: $white;
    margin-inline: auto;
    // margin-top: rem(126);

    @include mq(pc) {
        width: 90%;
    }
    @include mq(tb) {
        // margin-top: rem(40);
    }
}